<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="#ffffff">
	<tr>
		<td colspan="27" class="smalltextb">
			Select the first letter of the topic:
		</td>
	</tr>
	<tr>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=A">A</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=B">B</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=C">C</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=D">D</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=E">E</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=F">F</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=G">G</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=H">H</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=I">I</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=J">J</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=K">K</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=L">L</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=M">M</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=N">N</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=O">O</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=P">P</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=Q">Q</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=R">R</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=S">S</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=T">T</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=U">U</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=V">V</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=W">W</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=X">X</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=Y">Y</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=Z">Z</a></td>
		<td class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications&letter=num">0-9</a></td>
	</tr>
	<tr>
		<td><img src="/images/spacer_transparent.gif" width="1" height="1" border="0" alt="" /></td>
	</tr>
</table>