<table bgcolor="#f2f2e6" cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td height="1" width="10"><img border="0" height="1" width="10" alt="" src="/images/spacer_ffffff.gif"/><img border="0" height="2" width="10" alt="" src="/images/spacer_transparent.gif"/></td><td height="1" width="185"><img border="0" height="1" width="185" alt="" src="/images/spacer_ffffff.gif"/><img border="0" height="2" width="185" alt="" src="/images/spacer_transparent.gif"/></td>
	</tr>
	<tr>
		<td width="10"><img border="0" height="1" width="10" alt="" src="/images/spacer_transparent.gif"/></td>
		<td height="15" class="smalltextb">
						Browse Selected Topics
		</td>
	</tr>
</table>
<style>
.topicImg {
	padding-bottom: 8px;
}
</style>
<table bgcolor="#f2f2e6" cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td valign="top" width="10"><img border="0" height="1" width="10" alt="" src="/images/spacer_transparent.gif"/></td>
		<td valign="top" width="185">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr>
					<td><img border="0" height="1" width="10" alt="" src="/images/spacer_transparent.gif"/></td>
					<td><img border="0" height="1" width="175" alt="" src="/images/spacer_transparent.gif"/></td>
				</tr>
				<tr>
					<td valign="middle"><img class="topicImg" align="middle" name="healthTopics" border="0" height="8" width="7" alt="" src="/kbase/images/bullets/bullet.gif"/><img border="0" height="15" width="3" alt="" src="/images/spacer_transparent.gif"/></td>
					<td valign="middle" class="smalltext"><a href="/kbase/browse/index.jhtml?cat=healthTopics">Health Topics</a></td>
				</tr>
				<tr>
					<td valign="middle"><img class="topicImg" align="middle" name="medicalTests" border="0" height="8" width="7" alt="" src="/kbase/images/bullets/bullet.gif"/><img border="0" height="15" width="3" alt="" src="/images/spacer_transparent.gif"/></td>
					<td valign="middle" class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medicalTests">Medical Tests</a></td>
				</tr>
				<tr>
					<td valign="middle"><img class="topicImg" align="middle" name="medications" border="0" height="8" width="7" alt="" src="/kbase/images/bullets/bullet.gif"/><img border="0" height="15" width="3" alt="" src="/images/spacer_transparent.gif"/></td>
					<td valign="middle" class="smalltext"><a href="/kbase/browse/index.jhtml?cat=medications">Medications</a></td>
				</tr>
				<tr>
					<td valign="middle"><img class="topicImg" align="middle" name="supportGroups" border="0" height="8" width="7" alt="" src="/kbase/images/bullets/bullet.gif"/><img border="0" height="15" width="3" alt="" src="/images/spacer_transparent.gif"/></td>
					<td valign="middle" class="smalltext"><a href="/kbase/browse/index.jhtml?cat=CAM">Alternative Medicine</a></td>
				</tr>
				<tr>
					<td colspan="2" valign="middle"><img border="0" height="7" width="1" alt="" src="/images/spacer_transparent.gif"/></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
